body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(to right, #4682B4, #000080); /* Colores azul marino */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e8491d; 
}

#inicio {
    text-align: center;
    padding: 40px 0;
}

#inicio img {
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#servicios {
    padding: 40px 0;
}

.servicio {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align:
