body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(to right, #4682B4, #000080); /* Colores azul marino */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e8491d; 
}

#inicio {
    text-align: center;
    padding: 40px 0;
}

#inicio img {
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#servicios {
    padding: 40px 0;
}

.servicio {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido del servicio */
}

.servicio img {
    width: 100%;
    height: 200px; /* Altura fija para la imagen */
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px;
}

.servicio h3 {
    color: #000080; /* Color del título del servicio */
    margin-bottom: 10px;
}

#galeria {
    padding: 40px 0;
}

.galeria-imagenes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria-imagenes img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contacto {
    padding: 40px 0;
}

#contacto input,
#contacto textarea {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#contacto textarea {
    height: 150px;
    resize: vertical;
}

#contacto button {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #ff7676;
}

footer {
    background: linear-gradient(to right, #4682B4, #000080);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Para las animaciones */
.ocultar {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.mostrar {
  opacity: 1; 
  transform: translateY(0);
}
